header {
    width: 1440px;
    background-color: #2A9D8F;
    margin: 0 auto;
    padding: 38px 0px 38px 0px;
}

.headerLogo {
    display: inline-block;
    vertical-align: middle;
    margin-left: 130px;
    margin-right: 357px;
}

nav {
    display: inline-block;
    vertical-align: middle;
    margin-right: 357px;
}

nav ul li {
    font-family: 'Nerko One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    display: inline-block;
}

.list{
    margin-right: 51px;
}

.headerFrame{
    display: inline-block;
    vertical-align: middle;
}